{% extends 'base_main.html' %}
{% load static %}




{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/mine/mine.css' %}">


{% endblock %}

{% block content %}
    <div id="mine">
        <div class="fixed">
            {% if user %}
            <img src="{{ imgpath }}">

            {% else %}
            <span style="color: red" class="glyphicon glyphicon-user">
            {% endif %}
            </span>
            <p>
                {% if user %}
                     <a href="{% url 'app:login' %}">{{ username }}</a>
                    {% else %}
                     <a href="{% url 'app:login' %}"></a>
                {% endif %}

            </p>
            <p>
                <span class="glyphicon glyphicon-fire"></span>
                <span>等级</span>
            </p>
        {% if user %}
    <a id="regis" href="{% url 'app:register' %}">注册</a>
            {% else %}
             <a id="regis" href="{% url 'app:register' %}">注册</a>
        {% endif %}

            <p>
                <span style="color: red" class="glyphicon glyphicon-heart"></span>
                商品收藏
            </p>
        </div>
        <section class="mine">
            <p>
                <span>我的订单</span>
                <a href="#">查看所有订单&gt;</a>
            </p>
            <nav id="nav">
                <ul>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-usd"></span></dt>
                                <dd>待付款</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-envelope"></span></dt>
                                <dd>待收货</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-pencil"></span></dt>
                                <dd>待评价</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-transfer"></span></dt>
                                <dd>待评价</dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </nav>
            <menu>
                <ul>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-bullhorn"></span></dt>
                                <dd>积分商城</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-credit-card"></span></dt>
                                <dd>优惠券</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-credit-card"></span></dt>
                                <dd>收货地址</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-phone-alt"></span></dt>
                                <dd>客服/反馈</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl>
                                <dt><span class="glyphicon glyphicon-asterisk"></span></dt>
                                <dd>关于我们</dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </menu>
            <p>
                <a href="{% url 'app:exit' %}">退出登录</a>
            </p>


        </section>


    </div>



{% endblock %}



